Ejemplo de cómo hacer un merge+append de pandas dataframes
============================================================

In [1]:
from t4 import *

In [48]:
# df_a y df_c son complementarios (appendable), lo mismo con df_b y df_b
# {df_a, df_c} y {df_b, df_d} son suplementarions (mergeable)

pd.DataFrame._metadata = ['system']
pd.DataFrame.__finalize__ = custom_finalize

df_a = pd.DataFrame({'sample_nr': [0, 1, 2, 3, 4, 5, 6], 'val0': [2, 3, 6, 8, 6, 7, 8], 'val1': [1, 2, 4, 3, 1, 6, 3]})
df_a = df_a.set_index('sample_nr')
df_a.system = 'system_a'

df_b = pd.DataFrame({'sample_nr': [10, 11, 12, 13, 14, 15, 16], 'val2': [5, 4, 5, 5, 5, 5, 6], 'val3': [4, 4, 6, 6, 8, 6, 6]})
df_b = df_b.set_index('sample_nr')
df_b.system = 'system_b'

df_c = pd.DataFrame({'sample_nr': [10, 11, 12, 13, 14, 15, 16], 'val0': [1, 3, 2, 1, 3, 7, 2], 'val1': [0, 2, 3, 4, 1, 3, 1]})
df_c = df_c.set_index('sample_nr')
df_c.system = 'system_c'

df_d = pd.DataFrame({'sample_nr': [0, 1, 2, 3, 4, 5, 6], 'val2': [8, 8, 7, 7, 8, 6, 5], 'val3': [4, 4, 6, 6, 8, 6, 6]})
df_d = df_d.set_index('sample_nr')
df_d.system = 'system_d'


print '\ndf_a: \n', df_a
print '\ndf_b: \n',df_b
print '\ndf_c: \n',df_c
print '\ndf_d: \n',df_d

df_a:
           val0  val1
sample_nr
0             2     1
1             3     2
2             6     4
3             8     3
4             6     1
5             7     6
6             8     3

df_b:
           val2  val3
sample_nr
10            5     4
11            4     4
12            5     6
13            5     6
14            5     8
15            5     6
16            6     6

df_c:
           val0  val1
sample_nr
10            1     0
11            3     2
12            2     3
13            1     4
14            3     1
15            7     3
16            2     1

df_d:
           val2  val3
sample_nr
0             8     4
1             8     4
2             7     6
3             7     6
4             8     8
5             6     6
6             5     6

In [39]:
#Mostramos los metadatos

print 'df_a metadata: ', df_a.system
print 'df_b metadata: ', df_b.system
print 'df_c metadata: ', df_c.system
print 'df_d metadata: ', df_d.system

df_a metadata:  system_a
df_b metadata:  system_b
df_c metadata:  system_c
df_d metadata:  system_d

In [41]:
# Concatenado tipo 'append', hay índices repetidos y NaN en los campos vacíos
#df = pd.concat([df_a, df_c, df_b, df_d], axis=0)
print df_a
print df_d
df1 = pd.merge(df_a, df_b, how='outer', left_index=True, right_index=True)
df2 = pd.merge(df_c, df_d, how='outer', left_index=True, right_index=True)

print df1
print df2

df = pd.concat([df_a, df_b, df_c, df_d])
df = df.groupby(df.index).last()
print df
print '-'*80
print 'df metadata: << %s >>' % df.system


inicial = pd.DataFrame()
for data in [df_a, df_b, df_c, df_d]:
    inicial = inicial.combine_first(data)

print inicial
print '-'*80
print 'df metadata: << %s >>' % inicial.system

           val0  val1
sample_nr
0             2     1
1             3     2
2             6     4
3             8     3
4             6     1
5             7     6
6             8     3
           val2  val3
sample_nr
0             8     4
1             8     4
2             7     6
3             7     6
4             8     8
5             6     6
6             5     6
           val0  val1  val2  val3
sample_nr
0             2     1   NaN   NaN
1             3     2   NaN   NaN
2             6     4   NaN   NaN
3             8     3   NaN   NaN
4             6     1   NaN   NaN
5             7     6   NaN   NaN
6             8     3   NaN   NaN
10          NaN   NaN     5     4
11          NaN   NaN     4     4
12          NaN   NaN     5     6
13          NaN   NaN     5     6
14          NaN   NaN     5     8
15          NaN   NaN     5     6
16          NaN   NaN     6     6
           val0  val1  val2  val3
sample_nr
0           NaN   NaN     8     4
1           NaN   NaN     8     4
2           NaN   NaN     7     6
3           NaN   NaN     7     6
4           NaN   NaN     8     8
5           NaN   NaN     6     6
6           NaN   NaN     5     6
10            1     0   NaN   NaN
11            3     2   NaN   NaN
12            2     3   NaN   NaN
13            1     4   NaN   NaN
14            3     1   NaN   NaN
15            7     3   NaN   NaN
16            2     1   NaN   NaN
           val0  val1  val2  val3
sample_nr
0             2     1     8     4
1             3     2     8     4
2             6     4     7     6
3             8     3     7     6
4             6     1     8     8
5             7     6     6     6
6             8     3     5     6
10            1     0     5     4
11            3     2     4     4
12            2     3     5     6
13            1     4     5     6
14            3     1     5     8
15            7     3     5     6
16            2     1     6     6
--------------------------------------------------------------------------------
df metadata: <<  >>
           val0  val1  val2  val3
sample_nr
0             2     1     8     4
1             3     2     8     4
2             6     4     7     6
3             8     3     7     6
4             6     1     8     8
5             7     6     6     6
6             8     3     5     6
10            1     0     5     4
11            3     2     4     4
12            2     3     5     6
13            1     4     5     6
14            3     1     5     8
15            7     3     5     6
16            2     1     6     6
--------------------------------------------------------------------------------
df metadata: <<  >>

In [34]:
# Agrupamos los índices
df = df.groupby(df.index).last()
print df
print '-'*80
print 'After grouping indices, metadata df: << %s >>' % df.system

           val0  val1  val2  val3  val0  val1  val2  val3
sample_nr
0             2     1   NaN   NaN   NaN   NaN     8     4
1             3     2   NaN   NaN   NaN   NaN     8     4
2             6     4   NaN   NaN   NaN   NaN     7     6
3             8     3   NaN   NaN   NaN   NaN     7     6
4             6     1   NaN   NaN   NaN   NaN     8     8
5             7     6   NaN   NaN   NaN   NaN     6     6
6             8     3   NaN   NaN   NaN   NaN     5     6
10          NaN   NaN     5     4     1     0   NaN   NaN
11          NaN   NaN     4     4     3     2   NaN   NaN
12          NaN   NaN     5     6     2     3   NaN   NaN
13          NaN   NaN     5     6     1     4   NaN   NaN
14          NaN   NaN     5     8     3     1   NaN   NaN
15          NaN   NaN     5     6     7     3   NaN   NaN
16          NaN   NaN     6     6     2     1   NaN   NaN
--------------------------------------------------------------------------------
After grouping indices, metadata df: <<  >>